.content-profile {
    max-width: 120rem;
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
}

.info-container ul li {
    display: flex;
}

.info-container ul li strong {
    margin-right: 5px;
}

.articles-list {
    width: 100%;
}

.articles-list ul li {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 15px;
    border-radius: 3px;
    background-color: white;
    border: var(--border);
}